# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/temp
/node_modules

# Files
neutralino.js
sutori-studio.js
sutori-studio.js.map
package-lock.json

# Neutralinojs related files
.storage
.vs
.vscode
.tmp
*.log