#dialog-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	overflow: scroll;
	display: none;
	z-index: 9999;
}

#dialog-wrapper.open {
	background-color: rgb(0 0 0 / 60%);
	overflow: auto;
	display: flex;
}

#dialog-wrapper.open > div {
	position: relative;
	width: 100vw;
	height: 100vh;
}

#dialog-wrapper dialog {
	padding:0;
	background-color: var(--main-bg);
	border: 1px solid var(--menu-highlight-bg);
	min-width: 300px;
	min-height: 100px;
	border-radius: 3px;
	box-shadow: 1px 3px 6px 1px #0000009c;
	margin: 0;
	top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#dialog-wrapper dialog[open] {
	position: absolute;
}


#dialog-wrapper dialog .header {
	background-color: var(--menu-bg);
	color: #ccc;
	padding: 5px 8px;
	display:flex;
	border-radius: 3px 3px 0 0;
	user-select: none;
}


#dialog-wrapper dialog .header > span {
	flex-grow: 1;
}


#dialog-wrapper dialog .header > .close-but {
	display: flex;
	width: 17px;
	align-items: center;
	justify-content: center;
	fill: #fff;
}


#dialog-wrapper dialog .header > .close-but:hover {
	background: #ccc;
	cursor: pointer;
	border-radius:10px;
	fill: var(--menu-input-bg);
	position: relative;
   right: -2px;
}


#dialog-wrapper dialog .body {
	padding: 10px 12px 5px 12px;
	color: hsl(246, 25%, 79%);
}


#dialog-wrapper dialog.resource-dialog figure {
	width: 350px;
	height: 350px;
	background: #0003;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

#dialog-wrapper dialog.resource-dialog figure img {
	max-width: 100%;
	max-height: 100%;
}




#dialog-wrapper dialog[open] table {
	width:100%;
	border: 1px solid #444;
	background: var(--menu-input-bg);
	border-radius: 3px;
	margin-bottom: 10px;
	font-size: 90%;
}
#dialog-wrapper dialog[open] table * { text-align:left; padding: 5px; }
#dialog-wrapper dialog[open] table thead { background: var(--menu-bg); }
#dialog-wrapper dialog[open] table tbody td[contenteditable]:focus { background: #000c; outline:none; }

#dialog-wrapper dialog[open] table tbody td a { display: flex; align-items: center; justify-content: center; }
#dialog-wrapper dialog[open] table tbody td a:hover { opacity: 0.7; cursor: pointer; }
#dialog-wrapper dialog[open] table tbody td a svg { fill: white; padding: 0; }



#dialog-wrapper dialog[open] .subheader {
	display: flex;
}

#dialog-wrapper dialog[open] .subheader label {
	flex-grow: 1;
	user-select: none;
}

#dialog-wrapper dialog[open] .subheader .button {
	display: inline-block;
	margin-left: 5px;
	width: 18px;
	height: 18px;
	background: hsl(246, 25%, 41%);
	color: #000;
	border-radius: 10px;
	text-align: center;
	line-height: 18px;
	font-weight: 500;
	cursor: pointer;
	transition: 1200ms opacity, 1200ms outline;
	outline: 4px solid transparent;
	user-select: none;
	border: 0;
}

#dialog-wrapper dialog[open] .subheader .button:hover, #dialog-wrapper dialog[open] .subheader .button:focus {
	opacity: 0.9;
	transition: 100ms all;
	outline: 4px solid hsl(246, 25%, 79%);
}

#dialog-wrapper dialog[open] .subheader .button:active {
	opacity: 0.5;
}

#dialog-wrapper dialog[open] table tr:not(:last-of-type),
#dialog-wrapper dialog[open] table td:not(:last-of-type) {
	width:150px;
	min-width:150px;
	max-width:150px;
}