body {
	background-color: var(--main-bg);
	font-size: 14px;
}


body, p, div, span {
	font-family: 'Roboto', sans-serif;
}


.app {
	display: flex;
   flex-direction: column;
   height: 100vh;
}


.mid-pane {
	display: flex;
	flex: 1 1;
	max-height: calc(100vh - 32px - 29px);
}


.splitter {
	width: 5px;
	background-color: var(--sidebar-bg);
	cursor: ew-resize;
}
.splitter:hover {
	background-color: var(--menu-bg-light);
}


.editor-pane {
	height: 100%;
   width: 100%;
   padding: 50px;
   overflow-y: scroll;
	flex: 1 1;
}


.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.row.has-gap {
	column-gap: 10px;
} 

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.status-bar {
	height: 28px;
   background-color: var(--main-bg);
	border-top: 1px solid hsl(240deg 29% 22%);
   color: #aaa;
   line-height: 28px;
	padding: 0 8px;
}